body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

#root {
  height: 100%;
}

.map {
  height: 100%;
}

#showMarkers {
  z-index: 999;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  top: 1vh;
  right: 1vw;
  margin-top: 0;
  margin-right: 0;
}

#positionMarkers {
  z-index: 999;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  position: absolute;
  top: 11vh;
  right: 1vw;
  margin-top: 0;
  margin-right: 0;
}

#showRedMarker {
  z-index: 999;
  border-radius: 0px 0px 10px 10px;
  border-top: 1px solid #e7e7e7;
  position: absolute;
  top: 21vh;
  right: 1vw;
  margin-top: 0;
  margin-right: 0;
}

#distance {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition-duration: 0.4s;
  z-index: 999;
  border-radius: 10px;
  position: absolute;
  top: 32vh;
  right: 1vw;
  width: 11vw;
  height: 5vh;
  margin-top: 0;
  margin-right: 0;
  background-color: white;
  color: #272727;
  border: 2px solid #afafaf;
  resize: none;
}

button {
  width: 11vw;
  height: 10vh;
  transition-duration: 0.4s;
  background-color: white;
  color: #272727;
  border: 2px solid #afafaf;
}

button:hover {
  background-color: #e7e7e7;
}

@media screen and (max-width: 1400px) {
  button {
    width: 20vw;
  }
  #distance {
    width: 20vw;
  }
}
@media screen and (max-width: 750px) {
  button {
    width: 25vw;
  }
  #distance {
    width: 25vw;
    height: 7vh;
  }
}

@media screen and (max-height: 870px) {
  #distance {
    height: 10vh;
  }
}

@media screen and (max-height: 635px) {
  #distance {
    font-size: 0.9em;

    height: 10vh;
  }
}
@media screen and (max-height: 350px) {
  button {
    width: 40vw;
  }
  #distance {
    font-size: 0.9em;
    width: 40vw;
    height: 5vh;
  }
}
